.container{
  background-color: antiquewhite;
  display: flex;
  height:600px;
  flex-direction: row;
  justify-content: : center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}

.box{
  height: 100px;
  width: 100px;
}

.first{
  background-color: orange;
  /* flex-grow: 1; 1,2,3,4.... */

}

.second{
  background-color: green;
  /* flex-shrink:  4; */
}

.third{
  background-color: red;

  align-self: flex-start;
  /* flex-basis: 200px;  */

  /* flex-grow: 3; */

}
.fourth{
  background-color: chartreuse;
  /* flex-grow: 4; */

}

/* SHORTHAND

flex: <flex-grow> <flex-shrink> <flex-basis>; */